@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

html {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
    text-align: center;
}

fieldset {
    width: 50%;
    margin: auto;
}

.identity-form input, .identity-form select{
  width: 30%;
  height: 30px;
  margin: 5px;
  box-sizing: border-box;
}

div.mark-form {
    margin-top: 3vh;
}

fieldset.oreo-form {
    margin-top: 3vh;
}
