@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

html {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  background: rgb(255,255,0);
  background: linear-gradient(0deg, rgb(255, 255, 0) 0%, rgba(253, 244, 194, 0.996) 100%);
}

h1 {
  text-align: center;
}

fieldset {
  /*Définit la largeur et le c */
  width: 50%;
  margin: auto;
}

.identity-form input,
.identity-form select {
  /*Définit les caractéristiques des input, select etc */
  width: 30%;
  height: 3vh;
  margin: 5px;
  box-sizing: border-box;
}

.oreo-form,
.mark-form,
.suggestion-form,
.checkboxes {
  /* Ajoute du margin top à chaque questionnaire qui le nécessite */
  margin-top: 3vh;
}

textarea#suggestion {
  /* Détermine la taille minimale et maximale pour le textarea du "Votre avis compte" */
  width: 40vw;
  height: 20vh;
  max-width: 40vw;
  max-height: 20vh;
  min-width: 10vw;
  min-height: 5vh;
}

div.suggestion {
  /* Margin pour espacer la section "Votre avis compte" */
  margin-top: 1vh;
}

.sendbutton {
    display: block;
    margin: 1vh auto auto auto;
    width: 10vw;
    height: 5vh;
}

footer {
  position: fixed;
  bottom: 0;
}

.oreoimg {
  display: block;
  margin: 0 auto 0 auto;
}